@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*
兼容IE下的清除样式
*/
.clear {
  *zoom: 1;
}
/*
利用before,给后面添加clear:both;
*/
.clear:before,
.clear:after {
  display: table;
  line-height: 0;
  content: "";
}
.clear:after {
  clear: both;
}
header {
  height: 0.88rem;
  background: #008000;
  position: fixed;
  width: 100%;
}
header h1 {
  line-height: 0.88rem;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  position: relative;
}
header h1 a {
  position: absolute;
  top: 0;
}
header h1 a.back {
  left: 0.22rem;
}
header h1 a.next {
  right: 0.22rem;
}
.main_content {
  box-sizing: border-box;
  padding-top: 0.88rem;
  padding-bottom: 1.1rem;
}
.main_content p {
  font-size: 0.3rem;
  color: #666;
  border-top: solid 1px #dedede;
  line-height: 1.4rem;
  padding-left: 0.3rem;
  box-sizing: border-box;
}
.main_content p span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main_content p img {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  border: solid 1px #ccc;
  vertical-align: middle;
  margin-right: 0.15rem;
}
.main_content p:first-child {
  border-top: none;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #dedede;
  height: 1.1rem;
  background: #ffffff;
}
footer div {
  width: 20%;
  text-align: center;
}
footer div h1 {
  font-size: 0.36rem;
  color: #008000;
  line-height: 1.1rem;
}
